:root {
    /* Brand Colors 
    usage -> var(--black);
    */
    --black: #171717;
    --inchworma: #b2ec5d30;
    --inchworm: #b2ec5d;
    --white: #e8e8e8;
    --dwhite: #ccc;
}

::-webkit-scrollbar {
    width: 0.9vmin;
}

 ::-webkit-scrollbar-track {
    background: rgba( 232, 232, 232, 0);
}

 ::-webkit-scrollbar-thumb {
    background: var(--inchworma);
    border-radius: 0.5vmin;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--inchworm);
}

::-moz-selection {
    color: var(--white);
    background: var(--inchworma);
}

 ::selection {
    color: var(--white);
    background: var(--inchworma);
}

a,
a:visited,
a:hover {
    color: unset;
    fill: unset;
    text-decoration: none;
}

* {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

img,
.toprow,
.playbtn,
.bottomtext {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    scroll-behavior: auto;
    color: var(--white);
    font-weight: 300;
    font-style: normal;
    font-family: 'Montserrat';
    margin: 0;
    font-size: 1.5vmax;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--black);
}

.background {
    position: fixed;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}

.topbar {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.logo {
    position: relative;
    width: 50%;
    height: auto;
    fill: var(--white);
    margin: auto;
    margin-top: 2vmin;
}

.pageopt {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Overpass';
    flex: 4;
    margin-top: auto;
}

.option {
    padding: 0 1.5vmax .5vmax 1.5vmax;
    border-bottom: 0.04vmax solid rgba( 232, 232, 232, 0.3);
    font-weight: 300;
    font-size: 2.1vmax;
    text-transform: uppercase;
}

.option:hover,
.option.selected {
    color: var(--inchworm);
    cursor: pointer;
    border-color: var(--inchworm);
}

.socials {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex: 2;
    padding-right: 2vmin;
}

.sicons {
    fill: var(--white);
    cursor: pointer;
    height: auto;
    width: 3.5vmax;
    padding: .2vmax;
    border-radius: .4vmin;
    display: flex;
}

.playbtn {
    margin: auto;
    position: relative;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: .4vmin;
    margin-top: 3vmin;
    margin-bottom: 2vmin;
    padding: 1.5vmin 5vmin 1.5vmin;
}

.playtext {
    text-transform: uppercase;
    color: var(--black);
    font-weight: 800;
}

.playbtn:hover {
    background-color: var(--inchworm);
}

.toprow {
    margin-top: 2vmin;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.topbar .toprow {
    width: 70%;
}

.toprow .logo,
.fixedtopbar .logo {
    height: auto;
    width: 30%;
    flex: 2;
    margin: auto;
}

.fixedtopbar {
    position: fixed;
    width: 100%;
    padding: 1vmin;
    z-index: 100;
    background-color: rgba(23, 23, 23, .98);
    margin: unset;
}

.fixedtopbar .socials {
    padding-right: 2vmin;
    margin: auto;
}

.sicons:hover,
.psocial:hover {
    fill: var(--inchworm);
    cursor: pointer;
}

.bottombar {
    position: relative;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    display: block;
    background-color: #17171780;
}

.tab {
    position: relative;
    display: flex;
    padding: 1vmax;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.container {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: .5vmin;
    border: .4vmin solid var(--inchworm);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2vmin;
}

.about {
    font-size: 1.4vmax;
}

.about .row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.about .collumn {
    flex: 1;
    margin: auto;
    padding-right: 2vmin;
    padding-bottom: 2vmin;
    display: flex;
    flex-direction: column;
}

.text {
    padding-left: 5vmin;
    padding-right: 5vmin;
}

.previmgcont {
    flex: 1;
    height: auto;
    border: unset;
    border-radius: 0;
    border-top: 0.05vmax solid var(--inchworm);
    flex-direction: column;
    flex-wrap: nowrap;
}

.title {
    font-family: 'Overpass';
    font-size: 3vmax;
    height: fit-content;
    margin-bottom: 1vmax;
    border-bottom: 0.04vmax solid var(--inchworm);
}

.titlen {
    font-size: 2.5vmax;
    width: max-content;
    margin: auto;
    margin-bottom: 1vmax;
}

.arrow {
    background-color: #e8e8e820;
    border-radius: .1vmin;
    fill: var(--white);
    padding: .2vmax;
    display: flex;
    justify-content: center;
}

.arrowicons {
    cursor: pointer;
    height: auto;
    width: 5.5vmin;
    padding: .3vmax;
}

.arrow:hover,
.arrow:active {
    fill: var(--black);
    background-color: var(--inchworm);
}

.prevtext {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 100;
    padding: 1vmin;
    font-style: italic;
    font-size: 1.85vmax;
    white-space: nowrap;
    min-width: 40vmin;
}

.prevtext.hidden {
    display: none;
}

.prevbottom {
    text-align: center;
    padding: 1vmin 0 1vmin 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    flex: 1;
}

.previmg {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    cursor: zoom-in;
    flex: 1;
}

.previmg.hidden {
    display: none;
}

.largimgcont {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    cursor: zoom-out;
    z-index: 101;
    background-color: #17171790;
}

.previmglarge {
    margin: auto;
}

.team {
    text-align: left;
    flex-direction: column;
    flex: 1;
}

.team .row {
    flex: 1;
}

.perow {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    flex-direction: row;
    flex: 1;
    margin: auto;
    justify-content: space-around;
}

.peirow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.peoutrow {
    margin: auto;
}

.jointext {
    text-align: center;
}

.peoplecont {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 2vmin 1vmin 2vmin;
    height: auto;
}

.profileimg,
.peopleright {
    height: 8vw;
}

.profileimg {
    position: relative;
    width: auto;
    border: .425vmin solid var(--inchworm);
    border-radius: .5vmin;
}

.peopleright {
    margin-left: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}

.peoplename {
    border-bottom: 0.04vmax solid var(--inchworm);
    font-family: 'Overpass';
    white-space: nowrap;
}

.peopleinfo {
    font-size: 1.1vmax;
    font-weight: 500;
    margin: 1vmin 0 1vmin;
    white-space: normal;
}

.peoplescont {
    height: calc(100%/2.5);
    white-space: nowrap;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
}

.psocial {
    height: 100%;
    fill: var(--white);
    border-radius: .4vmin;
}

.teamtitle {
    margin-top: 2vmin;
    text-align: center;
}

.faqtitle,
.newstitle {
    text-align: center;
    flex-basis: 100%;
}

.faq {
    text-align: left;
    flex-direction: row;
    flex: 1;
}

.faq .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.faq .row:nth-child(2) {
    border-right: 0.05vmax solid var(--inchworm);
}

.faq .collumn {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2vmin;
}

.question {
    font-family: 'Overpass';
    color: var(--inchworm);
    font-size: 1.8vmax;
}

.news {
    text-align: center;
    flex-direction: row;
}

.newscont .rowcont {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2vmin;
    justify-content: center;
    margin: auto;
}

.newscont a {
    flex: 1;
}

.newscont .row {
    margin: .5vmin;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 18vmax;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url('../css/gfx/thumb.jpeg');
    border-radius: .2vmax;
    box-shadow: 0vw 0vw 1.6vh 0vw rgba(0, 0, 0, 0.7);
    flex: 1;
}

.newscont a:hover {
    transform: scale(1.08);
    z-index: 20;
}

.bottomnew {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    background-color: rgba(23, 23, 23, .95);
}

.newinnertitle {
    text-align: left;
    font-size: 1vmax;
    padding: .4vmax .4vmax 0 .4vmax;
    width: fit-content;
    margin: unset;
}

.readmoreatmed {
    padding: 4vmin;
    border-radius: .8vmin;
    font-size: 3.5vmax;
    text-align: center;
    text-decoration: underline;
}

.readmoreatmed:hover {
    color: var(--inchworm);
    transform: unset!important;
    text-decoration: underline;
}

.newfit {
    text-align: left;
    font-size: 1vmax;
    padding: .4vmax;
    overflow: hidden;
}

.bottomtext {
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: 1vmax;
    padding: 1vmin;
}

.bottomtext a {
    color: var(--inchworm);
}

.bottomtext a:hover {
    color: var(--white);
}

@-moz-document url-prefix() {
    /* This is for mozilla to have darker bottombar since it cant use blur */
    .bottombar {
        background-color: rgba(23, 23, 23, .85);
    }
}

@supports ((-webkit-backdrop-filter: blur(2.1vw)) or (backdrop-filter: blur(2.1vw))) {
    .bottombar {
        backdrop-filter: blur(1vw);
        -webkit-backdrop-filter: blur(1vw);
    }
    .bottomnew {
        background-color: unset;
        backdrop-filter: blur(2vmax);
        -webkit-backdrop-filter: blur(2vmax);
    }
}

@media (min-aspect-ratio: 16/9) {
    .background {
        width: 100%;
        height: auto;
    }
    .previmglarge {
        width: auto;
        height: 90%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background {
        width: auto;
        height: 100%;
    }
    .previmglarge {
        width: 90%;
        height: auto;
    }
}

@media (max-aspect-ratio: 4/4) {
    .bottombar,
    .topbar .toprow {
        width: 100%;
    }
    .profileimg {
        height: 14vmin;
    }
    .profileimg,
    .peopleright {
        height: 13vw;
    }
}